/*Color Variables*/

:root{
    --textBlack: #000;
    --backgroundBeige: #FCF3E3;
    --boxWhite:#FFFBF4;
    --footerOrange: #F4A258;
}

/*Fonts*/
@font-face {
    font-family: "brewski";
    src: url(/fonts/brewski/Brewski.ttf);
}

@font-face{
    font-family: "poppins_thin";
    src: url(/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppins_bold";
    src: url(/fonts/poppins/Poppins-Bold.ttf);
}

/*Section 1 - footer*/
.footer {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fire lige brede kolonner */
    gap: 20px; 
    background-color: #F4A258;
    padding: 20px;
    text-align: left;
    margin-left: 0px;
    color: var(--boxWhite);
}

.footer-col p {
    text-align: left;
    align-items: left; /* Centrerer både ikon og tekst vertikalt */
}

.ikon {
    width: 50px;  
    height: 50px; 
    vertical-align: middle;
}

.footer-col logo {
    width: 50px;
}






