/*Color Variables*/
:root{
    --textBlack: #000;
    --backgroundBeige: #FCF3E3;
    --boxWhite:#FFFBF4;
    --footerOrange: #F4A258;
}

/*Fonts*/
@font-face {
    font-family: "brewski";
    src: url(/fonts/brewski/Brewski.ttf);
}

@font-face{
    font-family: "poppins_thin";
    src: url(/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "poppins_bold";
    src: url(/fonts/poppins/Poppins-Bold.ttf);
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

h3{
    display: flex;
    justify-content: center;
    text-align: center;
}

h4{
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    font-size: 1.2rem;
}

h5{
    display: block;
    justify-content: left;
}


h6{
    writing-mode: vertical-rl;
    padding-top: 2%;
}

p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
}

.container{
    display: block;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 2%;
}

.flexbox1{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.text_container{
    width: 16.6%;
    display: block;
    justify-content: center;
    text-align: left;
    padding-left: 1%;
}

/*ChatGPT: "hvordan får jeg en hover-effekt på de små fun-facts?" https://chatgpt.com/share/67c6c194-e3f4-8009-b834-a87a68c1a9dd*/
.text_container h5 {
    font-size: 16px; /* Standard størrelse */
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .text_container h5:hover {
    transform: scale(1.1); /* Gør teksten 10% større */
    color: var(--footerOrange); /* Skift farven til en af dine variabler */
  }

.zest{
    width: 16.6%;
    height: auto;
    overflow: hidden;
    padding-right: 1%;
}

.spil{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.oelbowling{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.grill{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.flexbox2{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.sommerfest{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.oelfest{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.pigeaften{
    width: 16.6%;
    height: auto;
    overflow: hidden;
}

.button_container{
    display: flex;
    justify-content: center;
}

.button{
    font-family: "poppins_bold";
    color: var(--boxWhite);
    background-color: var(--footerOrange);
    border: none;
    margin-bottom: 2%;
    padding: 15px 32px;
    border-radius: 2px; /*afrundede kanter*/
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Skygge på knappen*/
    cursor: pointer;
}