/*Color Variables*/

:root{
    --textBlack: #000;
    --backgroundBeige: #FCF3E3;
    --boxWhite:#FFFBF4;
    --footerOrange: #F4A258;
    --product_box: #013c5a4f;
}


@font-face {
    font-family: "poppins_bold";
    src: url(/fonts/poppins/Poppins-Bold.ttf);
}

/*Section 1 - kurv*/
.kurv{
display: block;
margin-top: 3rem;
}

.product_box{
    display: flex;
    background-color: var(--product_box);
    margin-bottom: 3rem;
    width: 100%;
    height: 5rem;
    align-items: center;
    border-radius: 3px;
}

.productIMG{
    display: flex;
    justify-content: center;
    margin: 1rem;
    transform: scale(0.5);
    background-color: var(--boxWhite);
    width: 10rem;
    height: 10rem;
    margin-left: -2.5rem;
}

.productInfo{
margin-left: -2rem;
}

.produktPris{
    display: flex;
    margin-left: 62rem;
}

.icon_slet{
    display: flex;
    margin-left: 2rem; 
}
/*Section 2 - sum*/
.sum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70rem;
    margin-top: -1rem;
border-top: 2px solid black; 
    padding-top: 1rem; 
}

.sumNames{
display: block;

}

.sumPris{
    display: block;

}
.sumPris h4{
    text-decoration: underline;
}

